body {
  background-color: rgba(77, 194, 73, 0.3843137255);
  /* overflow: hidden; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Scada", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: ease-in-out;
  transition-duration: 2s;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 60vw;
  margin-top: 20px;
}
header .logo {
  /* padding-left: 40px; */
}
header .logo img {
  width: 6rem;
}
header .nav {
  /* padding-right: 20px; */
}
header .nav nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .nav nav li {
  list-style: none;
}
header .nav nav li#say_hello {
  padding: 10px 20px;
  border: 2.5px solid green;
  border-radius: 20px;
}
header .nav nav a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}
header .nav nav a:active {
  color: greenyellow;
}
header .nav nav a:visited {
  color: rgb(7, 75, 7);
}

section {
  text-align: center;
}
section .top {
  margin-top: 5rem;
}
section .top h1 {
  font-weight: bolder;
  font-size: 3.2vw;
}
section .top p {
  font-size: 1.6vw;
}
section .top img {
  width: 15vw;
  background-color: green;
  padding: 20px 20px 0px 0px;
  margin-top: 5%;
  border: none;
  border-radius: 90px;
}
section .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 0;
}
section .second img {
  width: 70%;
  position: relative;
  bottom: 0;
  top: 29px;
}
section .second .inner {
  color: white;
  background-color: rgb(34, 143, 34);
  padding: 5vw 20vw 15vw 20vw;
  line-height: 1.7;
}
section .second .inner h2 {
  font-weight: bolder;
}
section .second .inner p {
  margin-top: 25px;
}
section .second .outer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 0;
  background-color: white;
  border: none;
  border-radius: 20px;
  position: relative;
  bottom: 8rem;
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.01), 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  transition: ease-in-out;
  transition-duration: 2s;
}
section .second .outer-box .header {
  font-weight: bold;
}
section .second .outer-box .Designer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
  gap: 20px;
}
section .second .outer-box .Designer .head_icon {
  font-size: 2rem;
  border: 0;
  border-radius: 5rem;
  padding: 1rem;
  background-color: rgba(0, 255, 157, 0.678);
}
section .second .outer-box .Designer .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}
section .second .outer-box .Designer .content .experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
section .second .outer-box .Designer .content .experience .sub {
  color: green;
  font-weight: bold;
}
section .second .outer-box .Designer .content .experience #sub-sub {
  margin-bottom: 20px;
}
section .second .outer-box .Designer .content .experience ul li {
  list-style: none;
  padding: 5px;
}
section .second .outer-box .FrontEndDev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-right: 90px;
  gap: 20px;
  margin-bottom: 25px;
}
section .second .outer-box .FrontEndDev .head_icon {
  font-size: 2rem;
  border: 0;
  border-radius: 5rem;
  padding: 1rem;
  background-color: rgba(0, 255, 157, 0.678);
}
section .second .outer-box .FrontEndDev .header {
  font-weight: bold;
}
section .second .outer-box .FrontEndDev .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}
section .second .outer-box .FrontEndDev .content .experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
section .second .outer-box .FrontEndDev .content .experience .sub {
  color: green;
  font-weight: bold;
}
section .second .outer-box .FrontEndDev .content .experience #sub-sub {
  margin-bottom: 20px;
}
section .second .outer-box .FrontEndDev .content .experience ul li {
  list-style: none;
  padding: 5px;
}
section .third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgb(219, 219, 219);
}
section .third .works_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section .third .works_header #mailto {
  color: green;
  text-decoration: none;
  font-weight: 600;
}
section .third .first_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
section .third .first_flex .sec_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: rgb(20, 73, 10);
  color: white;
  padding: 30px;
  border: none;
  border-radius: 10px;
}
section .third .first_flex .sec_flex a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  padding: 1rem 3rem;
}
section .third .first_flex .sec_flex a.content_link {
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
}
section .third .first_flex .sec_flex a.content_link:hover {
  background-color: rgb(62, 114, 2);
  color: white;
  border-color: rgb(62, 114, 2);
  font-weight: bold;
}
section .third .GitHub {
  text-decoration: none;
  color: green;
  font-weight: bold;
  border: 2px solid;
  border-color: green;
  border-radius: 50px;
  padding: 15px 40px;
  transition: 0.5s ease-in-out;
}
section .third .GitHub:hover {
  color: white;
  background-color: green;
  border-color: green;
}
section .fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 3rem;
}
section .fourth h2 {
  font-weight: 600;
  color: rgb(14, 77, 14);
}
section .fourth .sec_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  padding-top: 1rem;
}
section .fourth .sec_flex ul {
  list-style: none;
}
section .fourth .sec_flex ul .acad_logo {
  width: 15rem;
  border-radius: 7rem;
}
section .fourth .sec_flex ul p {
  padding: 0.5rem 0.5rem;
  color: rgb(21, 48, 21);
  font-size: larger;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: none;
  font-weight: bold;
}

footer .float {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: rgb(8, 59, 8);
  padding: 3rem 4rem;
  width: 90%;
  margin: auto;
  color: white;
  border: none;
  border-radius: 15px;
  position: relative;
  top: 4rem;
  box-sizing: border-box;
  box-shadow: 0 4px 2px 0 rgb(17, 146, 17), 0 4px 3px 0 rgb(23, 128, 23);
  transition: 0.5s ease-in-out;
}
footer .float h2 {
  font-weight: bold;
}
footer .float .float_content {
  font-weight: 540;
  text-align: center;
}
footer .float a {
  text-decoration: none;
  color: white;
  font-weight: 200;
  border: 2px solid white;
  padding: 1rem 2rem;
  font-size: 1rem;
}
footer .float a.anchor_float {
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
footer .float a:hover {
  background-color: greenyellow;
  color: green;
  border-color: greenyellow;
}
footer .least {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: green;
  padding-top: 10rem;
  padding-bottom: 5rem;
  color: white;
}
footer .least img {
  width: 6rem;
}
footer .least .icons_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
footer .least .icons_footer a {
  color: white;
}
footer .least .icons_footer a:hover {
  color: white;
}
footer .least .icons_footer a:active {
  color: white;
}
footer .least .icons_footer #icon1 {
  border: 1.5px solid rgb(221, 215, 215);
  padding: 1rem;
  border-radius: 2rem;
}
footer .least .icons_footer #icon2 {
  border: 1.5px solid rgb(221, 215, 215);
  padding: 1rem;
  border-radius: 2rem;
}
footer .least .icons_footer #icon3 {
  border: 1.5px solid rgb(221, 215, 215);
  padding: 1rem;
  border-radius: 2rem;
}
footer .least .icons_footer #icon4 {
  border: 1.5px solid rgb(221, 215, 215);
  padding: 1rem;
  border-radius: 2rem;
}
footer .least .icons_footer #icon5 {
  border: 1.5px solid rgb(221, 215, 215);
  padding: 1rem;
  border-radius: 2rem;
}

@media (min-width: 901px) and (max-width: 1225px) {
  footer .float {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem 2rem 4rem;
    width: 99%;
  }
  footer .float .float_content {
    font-weight: 500;
    text-align: center;
  }
  footer .float a {
    padding: 0.7rem 0.9rem;
  }
  footer .float a.anchor_float {
    border-radius: 6rem;
  }
}
@media (min-width: 300px) and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40vw;
    margin-top: 20px;
  }
  header .logo {
    /* padding-left: 40px; */
  }
  header .logo img {
    width: 5rem;
  }
  header .nav {
    /* padding-right: 20px; */
  }
  header .nav nav ul {
    display: grid;
    grid-row: auto;
    gap: 1px;
  }
  header .nav nav li#say_hello {
    border: none;
  }
  section {
    text-align: center;
  }
  section .top {
    margin-top: 3rem;
  }
  section .top h1 {
    font-size: 3rem;
    text-align: center;
    padding: 0 1rem 0 1rem;
    margin: 20px;
  }
  section .top p {
    font-size: 4.5vw;
    padding: 0 1rem 0 1rem;
    margin: 20px;
  }
  section .top img {
    width: 35vw;
  }
  section .second img {
    width: 100%;
    top: 15px;
  }
  section .second .inner {
    color: white;
    background-color: rgb(34, 143, 34);
    padding: 5vw 20vw 15vw 20vw;
    line-height: 1.6;
  }
  section .second .inner p {
    margin-top: 20px;
  }
  section .second .outer-box {
    flex-direction: column;
    gap: 30px;
    border-radius: 25px;
    position: relative;
    bottom: 3rem;
    margin-left: 30px;
    margin-right: 30px;
  }
  section .second .outer-box .header {
    font-weight: bold;
  }
  section .second .outer-box .Designer {
    gap: 15px;
    border-bottom: 0.001px solid rgb(245, 234, 234);
  }
  section .second .outer-box .Designer .content {
    gap: 40px;
  }
  section .second .outer-box .Designer .content .experience {
    gap: 5px;
  }
  section .second .outer-box .Designer .content .experience ul li {
    list-style: none;
    padding: 5px;
  }
  section .second .outer-box .FrontEndDev {
    gap: 15px;
    margin-bottom: 25px;
    margin-left: 25%;
  }
  section .second .outer-box .FrontEndDev .header {
    font-weight: bold;
  }
  section .second .outer-box .FrontEndDev .content {
    gap: 40px;
  }
  section .second .outer-box .FrontEndDev .content .experience {
    gap: 5px;
  }
  section .second .outer-box .FrontEndDev .content .experience ul li {
    list-style: none;
    padding: 5px;
  }
  section .third {
    gap: 2rem;
    padding-bottom: 3rem;
  }
  section .third .works_header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  section .third .works_header h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  section .third .works_header p {
    font-size: 1rem;
    margin: 20px;
  }
  section .third .works_header #mailto {
    color: rgb(26, 92, 26);
    text-decoration: none;
    font-weight: 600;
  }
  section .third .first_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 20px;
  }
  section .third .first_flex .sec_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: rgb(20, 73, 10);
    color: white;
    padding: 15vw;
    border: none;
    border-radius: 10px;
  }
  section .third .first_flex .sec_flex a {
    color: white;
    text-decoration: none;
  }
  section .third .first_flex .sec_flex a.content_link {
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  section .third .first_flex .sec_flex a.content_link:hover {
    background-color: rgb(62, 114, 2);
    color: white;
    border-color: rgb(62, 114, 2);
    font-weight: bold;
  }
  section .third .GitHub {
    text-decoration: none;
    color: green;
    font-weight: bold;
    border: 2px solid;
    border-color: green;
    border-radius: 50px;
    padding: 15px 90px;
    margin: 20px;
  }
  section .third .GitHub:hover {
    color: white;
    background-color: green;
    border-color: green;
    transition: 0.5s ease-in-out;
  }
  section .fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 3rem;
  }
  section .fourth h2 {
    font-size: large;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(14, 77, 14);
  }
  section .fourth .sec_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem;
  }
  section .fourth .sec_flex ul {
    list-style: none;
  }
  section .fourth .sec_flex ul .acad_logo {
    width: 15rem;
    border-radius: 7rem;
  }
  section .fourth .sec_flex ul p {
    padding: 0.5rem 0.5rem;
    color: rgb(21, 48, 21);
    font-size: larger;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: bold;
  }
  footer .float {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 90%;
    position: relative;
    top: 9rem;
    padding: 1rem 2rem 3rem 2rem;
  }
  footer .float .float_content {
    font-weight: 500;
    text-align: center;
    padding-top: 0.5rem;
  }
  footer .float a.anchor_float {
    border-radius: 4rem;
  }
  footer .least {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: green;
    padding-top: 10rem;
    padding-bottom: 5rem;
    color: white;
    text-align: center;
  }
  footer .least img {
    width: 6rem;
  }
  footer .least p {
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
  }
  footer .least .icons_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.1rem;
  }
  footer .least .icons_footer a {
    color: white;
  }
  footer .least .icons_footer #icon1 {
    border: 1.5px solid rgb(221, 215, 215);
    padding: 1rem;
    border-radius: 2rem;
  }
  footer .least .icons_footer #icon2 {
    border: 1.5px solid rgb(221, 215, 215);
    padding: 1rem;
    border-radius: 2rem;
  }
  footer .least .icons_footer #icon3 {
    border: 1.5px solid rgb(221, 215, 215);
    padding: 1rem;
    border-radius: 2rem;
  }
  footer .least .icons_footer #icon4 {
    border: 1.5px solid rgb(221, 215, 215);
    padding: 1rem;
    border-radius: 2rem;
  }
  footer .least .icons_footer #icon5 {
    border: 1.5px solid rgb(221, 215, 215);
    padding: 1rem;
    border-radius: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */
